.edit-frm__heading {
  margin: 0 0 38px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 600px) {
  .edit-frm__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 66px;
  }
}
