.element__like-btn {
  background-image: url("../../../images/like-btn.svg");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 20px;
  width: 23px;
  grid-area: like;
  justify-self: center;
}
